<ion-content [fullscreen]="true">
  <div class="calc-main">
    <div class="calc-display">
      <ion-input
        type="number"
        [(ngModel)]="display"
        class="ion-text-end"
      ></ion-input>
    </div>
    <div>
      <ion-grid>
        <ion-row>
          <ion-button shape="" color="dark" *ngIf="!isc" (click)="click('ac')"
            >AC</ion-button
          >

          <ion-button shape="" color="dark" *ngIf="isc" (click)="click('c')"
            >C</ion-button
          >

          <ion-button shape="" color="dark" (click)="click('+/-')"
            >+/-</ion-button
          >

          <ion-button shape="" color="dark" (click)="click('%')">%</ion-button>

          <ion-button shape="" color="dark" (click)="click('&divide;')"
            >&divide;</ion-button
          >
        </ion-row>
        <ion-row>
          <ion-button shape="" color="dark" (click)="click('7')">7</ion-button>

          <ion-button shape="" color="dark" (click)="click('8')">8</ion-button>

          <ion-button shape="" color="dark" (click)="click('9')">9</ion-button>

          <ion-button shape="" color="dark" (click)="click('&times;')"
            >&times;</ion-button
          >
        </ion-row>
        <ion-row>
          <ion-button shape="" color="dark" (click)="click('4')">4</ion-button>

          <ion-button shape="" color="dark" (click)="click('5')">5</ion-button>

          <ion-button shape="" color="dark" (click)="click('6')">6</ion-button>

          <ion-button shape="" color="dark" (click)="click('-')">-</ion-button>
        </ion-row>
        <ion-row>
          <ion-button shape="" color="dark" (click)="click('1')">1</ion-button>

          <ion-button shape="" color="dark" (click)="click('2')">2</ion-button>

          <ion-button shape="" color="dark" (click)="click('3')">3</ion-button>

          <ion-button shape="" color="dark" (click)="click('+')">+</ion-button>
        </ion-row>
        <ion-row>
          <ion-button
            shape=""
            color="dark"
            (click)="click('0')"
            class="double-width"
            >0</ion-button
          >

          <ion-button shape="" color="dark" (click)="click('.')">.</ion-button>

          <ion-button shape="" color="dark" (click)="click('=')">=</ion-button>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
